@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Jersey+25&display=swap');

body {
  margin: 0;
  font-family: 'Jersey 20', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C1618;
  color: #F8F8F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jersey-20 {
    font-family: 'Jersey 20', cursive;
}

.jersey-25 {
    font-family: 'Jersey 25', cursive;
}

:root {
  --background-color: #0C1618;
  --primary-text-bg-footer-color: #FAF4D3;
  --dark-text-color: #000000;
  --light-text-color: #FFFFFF;
  --list-background-color: #F5F3E1;
  --action-button-color: #0000004f;
  --action-button-hover-color: #0000007f;
}