@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Jersey+25&display=swap');

body {
  margin: 0;
  font-family: 'Jersey 20', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
  color: #F8F8F8;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jersey-20 {
    font-family: 'Jersey 20', cursive;
}

.jersey-25 {
    font-family: 'Jersey 25', cursive;
}

}